body {
     background-color: rgb(168, 165, 124);
} 
    
h1  { 
     texte-align: center
 }
 
 p {
      text-align: center; 
} 

#PET  { 
    font-size: 20px 
  } 
  
    strong { 
        color: #ff0000;
 }   