h1{
     text-align: center;
     font-size: 40px;
     color: rgb(236, 152, 16) ;

}

p{

    text-align: center;
    font-size: 40px ;
    color: rgb(236, 152, 16);
    ;
}
body{
     background-color: rgb(4 , 47, 85, 0.603);
     font-family: Verdana,  ;


}
teste{
    color: #c01616;
    color: rgb(100, 200, 50);
}




